<html>
  <body>
<p> 
<h1>Workshop To-do List</h1>
<img src="https://daks2k3a4ib2z.cloudfront.net/590c9b833ed2ae0c429e3045/59a5d27b23048900018d32ad_Checklist.jpg"></img>
<ul>
  <li><input type=checkbox>
  <a href=show/1>Make the curriculum</a> - <span class="pomodoro-estimate"><%= 3+1 %> pomodoros</span>
  </li>
  <li><input type= checkbox>
  <a href=show/2>Buy workshop supplies</a> - <span class="pomodoro-estimate">3 pomodoros</span>
  </li>
  <li> <input type=checkbox>
  <a href=show/3>Meet with the volunteer trainers</a> - <span class="pomodoro-estimate">2 pomodoros</span>
  </li>
  <li><input type=checkbox>
  <a href=show/4>Order food for Saturday and Sunday</a> - <span class="pomodoro-estimate">1 pomodoro</span>
  </li>
  <li><input type=checkbox>
  <a href=show/5>Check pre-work assignments</a> - <span class="pomodoro-estimate">2 pomodoros</span>
  </li>
  <li><input type=checkbox>
  <a href=show/6>Send workshop location to all of the students</a> - <span class="pomodoro-estimate">1 pomodoro</span>  
  </li>
  <li><input type=checkbox>
  <a href=show/7>Have a great workshop</a> - <span class="pomodoro-estimate">0 pomodoros</span>
  </li>
 </ul>
<span id=addtodoassembly> Add to-do <input type=box placeholder= "Add a new to-do"> <input type=number placeholder="Estimated Pomodoro(s)"></span>
<input id=add-new-todo-button type=submit value="Add To-Do">
</p>
  </body> 
  <a href='/todo/new'>Add a new Todo</a>
  